In [1]:
import pandas as pd
import os

In [2]:
def name_company_split(name):
    undef_list = ['Unidentified Company Representative',
                  'Unidentified Corporate Participant',
                  'Unidentified Analyst']
    undef_in = False
    for undef_id in undef_list:
        if undef_id in name:
            result_list = [undef_id, 'Unidentified Company']
            undef_in = True
            break
    if not undef_in:
        utf_name = name.encode('utf-8')
        result_list = [name, 'No_company_found']
        if b'\xe2\x80\x93' in utf_name:
            result_list = utf_name.split(b'\xe2\x80\x93')
            result_list = [result_list[0].decode(), result_list[1].decode()]
        elif '-' in name:
            result_list = name.split('-')
        result_list = [result_list[0], ' - '.join(result_list[1:])]
    return list(map(lambda x: x.strip(), result_list))

In [3]:
def _row_proc(row):
    analytic = row['Analyst']
    an_list = row['Analysts_list']
    head_analytics_str = an_list.replace("'", "").split(", ")
    head_analytics_list = list(map(name_company_split, head_analytics_str))
    for i in range(len(head_analytics_list)):
        if analytic.lower().replace(" ", "")==head_analytics_list[i][0].lower().replace(" ", ""):
            return head_analytics_list[i][1]
    return "Nothing_found"

In [4]:
path = "../data/res_tables/"

In [5]:
files = os.listdir(path)

In [24]:
######

In [14]:
res_analysts = []
res_banks = []
for j in range(len(files)):
    print(j)
    df = pd.read_csv(path+files[j]).dropna()
    for f in pd.unique(df['File_path']):
        cur_df = df[df['File_path']==f].copy()
        analytics_and_banks = cur_df[['Analyst', 'Analysts_list']].drop_duplicates()
        unique_banks = pd.unique(analytics_and_banks.apply(_row_proc, axis=1)).tolist()
        unique_analysts = pd.unique(analytics_and_banks['Analyst']).tolist()
        if "" in unique_banks:
            unique_analysts.remove("")
        if "" in unique_banks:
            unique_analysts.remove("")

        res_banks += unique_banks
        res_analysts += unique_analysts

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108

In [90]:
pd.DataFrame(pd.unique(res_banks)).to_excel("banks.xlsx")

In [91]:
pd.DataFrame(pd.unique(res_analysts)).to_excel("analysts.xlsx")

In [21]:
pd.DataFrame(pd.Series(res_banks).value_counts()).to_excel("banks_freq.xlsx")

In [135]:
path = "../data/result_tables/names_tables/"
files = os.listdir(path)

In [145]:
res_analysts = []
res_banks = []
for j in range(len(files)):
    print(j)
    df = pd.read_excel(path+files[j]).dropna()
    for f in pd.unique(df['File_path']):
        cur_df = df[df['File_path']==f].copy()
        ab_str = cur_df['Analysts_list'].values[0].replace("{", "").replace("}", "")
        if (len(ab_str)<650) & (len(ab_str)>0):
            to_list = ab_str.split("', '")
            a_bll = list(map(lambda x: x.replace("'", "").split(": "), to_list))
            
            append_list_bank = list(map(lambda x: x[1], a_bll))
            if "" in append_list_bank:
                append_list_bank.remove("")
            res_banks += append_list_bank
            
            append_list_analytic = list(map(lambda x: x[0], a_bll))
            if "" in append_list_analytic:
                append_list_analytic.remove("")
            res_analysts += append_list_analytic

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158

In [144]:
pd.DataFrame(pd.Series(res_banks).value_counts(), columns=["freq"]).to_excel("banks_freq.xlsx")

In [152]:
drop_names = ["IR", "Investor relationship", "CFO", "CEO", "President and CEO", "Chairman and CEO",
"Bloomberg", "President", "EVP and CFO", "President & CEO 24", "Chairman, President and CEO 9", 
"CEO and President 5", "Chairman, CEO 4", "Founder and CEO 3", "CEO International Operations 2",
"CEO, President and COO 2", "Director and CEO 2", "President, COO and CEO 2", "President, CFO and COO 2", 
"COO 10", "President and COO 10", "CFO and COO 5", "Chairman and CEO 38",
"President, Director and CEO 2",
"President and Chief Executive Officer 108",
"Executive Vice President and Chief Financial Officer 18",
"Chairman, President and Chief Executive Officer 18",
"Chief Executive Officer, President and Director 17",
"Senior Vice President and Chief Financial Officer 15",
"President & Chief Executive Officer 13",
"Chief Executive Officer and President 12",
"Executive Vice President 9",
"President and Chief Operating Officer 7",
"Vice President of Finance 7",
"Chairman and Chief Executive Officer 42",
"Chairman 13",
"Executive Chairman 12",
"Chairman & Chief Executive Officer 7",
"Chief Financial Officer 205",
"Chief Executive Officer 105",
"Chief Operating Officer 17",
"Chief Executive Officer and Director 12",
"Chief Financial Officer and Treasurer 11",
"Chief Scientific Officer 6"]

In [153]:
res_analysts = pd.unique(res_analysts).tolist()
res_banks = pd.unique(res_banks).tolist()

In [156]:
for n in drop_names:
    if n in res_banks:
        res_banks.remove(n)

In [162]:
pd.DataFrame(res_banks, columns=['bank']).to_excel("banks.xlsx")

In [163]:
pd.DataFrame(res_analysts, columns=["analyst"]).to_excel("analysts.xlsx")